<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<head>
    <meta content=" charset=utf-8"/>
</head>

<h:body class="login">
    <ui:composition template="masterLayout.xhtml">
        <ui:define name="content">
            <h:form styleClass="input-group">
                <h3> Please enter your name and password</h3>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><h:inputText styleClass="form-control" id="inputName" a:placeholder="name"
                                         value="#{user.name}"/></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><h:inputSecret styleClass="form-control" a:placeholder="password" value="#{user.password}"/>
                        </td>
                    </tr>
                </table>
                <h:panelGrid columns="4" columnClasses="column1, column2, column3, column4">
                    <h:commandButton styleClass="btn btn-default" value="Login" action="#{user.checkCredentials}"/>

                    <h:commandButton styleClass="btn btn-default" value="Show Message">
                        <f:ajax execute="@this" render="outputMessage"/>
                    </h:commandButton>

                </h:panelGrid>


                <h4>
                    <h:outputText id="outputMessage"
                                  value="#{( user.name != null)? user.welcomeMessage : ''}"/>
                </h4>
                <h4>
                    <h:outputText id="outputPass"
                                  value="#{user.password}"/>
                </h4>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>


</html>
