<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<head>
    <meta content=" charset=utf-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script type="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <style type="text/css">

    </style>
</head>
<h:body>
    <ui:composition>
        <div class="header">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="http://localhost:8080/welcome.xhtml">Welcome</a></li>
                <li role="presentation" class="active"><a href="http://localhost:8080/login.xhtml">Login</a></li>
                <li role="presentation" class="active"><a href="http://localhost:8080/payment.xhtml">Payment</a></li>
            </ul>
        </div>
    </ui:composition>
</h:body>


</html>
